<!DOCTYPE html>
<html lang="en">
<head>
<style>
body  {
  background-image: url("https://3c1703fe8d.site.internapcdn.net/newman/gfx/news/hires/2017/fingerprint.png");
  background-color: #cccccc;
    background-position: center; /* Center the image */

  background-size: cover;
}
</style>
  <title>Homepage</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel=stylesheet type=text/css href="{{url_for('static', filename='style.css')}}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      </div>
      <p style="color: white">BIOMETRIC COLLEGE LOGIN SYSTEM</p>
    </div>
    <ul class="nav navbar-nav navbar-right">
		     <li style="padding-top: 1px;"><a href='/admin'><span class="glyphicon glyphicon-user"></span> Admin</a></li>

      <li style="padding-top: 1px;"><a href='/register'><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li style="padding-top: 1px;"><a href='/login'><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      <li style="padding-right: 40px;"><a href='/download_fingerprint'><span class="glyphicon glyphicon-log-in"></span> Download FP</a></li>

    </ul>
  </div>
</nav>
	  <div style="padding:20px"></div>

<div class="container">

  <div class="jumbotron" id="readme">
	  	  			{% with messages = get_flashed_messages() %}
			{% if messages %}
				{% for message in messages %}
					<div class=alert alert-warning alert-dismissible" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
					aria-hidden="true">&times;</span></button>
						<h1><font color="red">{{message}}</font></h1>
						
					</div>
					{% endfor %}
				{% endif %}
			{% endwith %}


      <h1>Welcome to Raspberry Pi College</h1>
      	  <div style="padding:20px"></div>
    <p>This is a biometric login system online quiz portal that is capable of making a user database and hosting online question rounds whose results are then used to generate real time leaderboards. Questions and other internal data can only be updated by the admins.</p>
    <h3 class="subhead">Features</h3>
    <ul>
      <li><i>Biometric logins from different locations where system is set up</i></li>
      <li><i>Easy sign-up and login</i></li>
      <li><i>If not registered on local machine, simply download fingerprint by entering username, then you can sign in</i></li>
      <li><i>Different modules with questions</i></li>
      <li><i>Responsive javascript quizzes which are hosted online</i></li>
      <li><i>User needs to verify their fingerprint before submitting scores. Anti-cheating feature</i></li>
	<li><i>Responsive MongoDB Database for access to store and retrieve data</i></li>
    </ul>
  </div>

</div>

</body>
</html>
