<!DOCTYPE html>
<html>
<head>
	<title>Leaderboard</title>
		<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="/static/style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style>
    main {
      width: 100%;
      border: 1px solid #ddd;
    }
    table, canvas {
      width: 99%;
    }
    th {
      cursor: pointer;
    }
    h2 {
      padding-left: 10px;
    }
    h1 {
      padding-left: 10px;
    }
    p {
      padding-left: 50px;
    }
	</style>
</head>
<body>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/"><span class="glyphicon glyphicon-home"></span> Raspberry Pi College</a>
			</div>
			<ul class="nav navbar-nav">
				<li><a href="/profile/{{ currentuser }}"><span class="glyphicon glyphicon-user"></span> My Profile</a></li>
				<li><a href="/dashboard"><span class="glyphicon glyphicon-user"></span>Homepage</a></li>

				<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-th-list"></span> Categories<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="/module/java"><span class="glyphicon glyphicon-book"></span> Java</a></li>
						<li><a href="/module/android"><span class="glyphicon glyphicon-knight"></span> Android App Development</a></li>
						<li><a href="/module/cpp"><span class="glyphicon glyphicon-bullhorn"></span> C++</a></li>
						<li><a href="/module/cloud"><span class="glyphicon glyphicon-film"></span> Cloud Computing</a></li>
						<li><a href="/module/proeng"><span class="glyphicon glyphicon-tint"></span> The Professional Engineer</a></li>
						<li><a href="/module/dsp"><span class="glyphicon glyphicon-flag"></span> DSP</a></li>
     					<li><a href="/module/python"><span class="glyphicon glyphicon-flag"></span> Python</a></li>
						<li><a href="/module/javascript"><span class="glyphicon glyphicon-flag"></span> Javascript</a></li>
						<li><a href="/module/nodejs"><span class="glyphicon glyphicon-flag"></span> Node.js</a></li>
						<li><a href="/module/maths"><span class="glyphicon glyphicon-flag"></span> Maths</a></li>
					</ul>
				</li>
				<li><a href="http://127.0.0.1:5000/leaderboard"><span class="glyphicon glyphicon-sort-by-attributes-alt"></span> Leaderboards</a></li>
				<li><a href="/"><span class="glyphicon glyphicon-new-window"></span> Log-Out</a></li>
			</ul>
		</div>
	</nav>
	<h1>Hi {{user.username}}!</h1>
	<h1 style="font-size: 100px">Top Quiz Scores</h1>
<table>
	<tr>
		<td style="font-size: 60px">Usernames</th>
		<td style="font-size: 60px">Score</th>
	</tr>
{% for item in items %}
<TR>
   <TD style="font-size: 40px; padding-left: 20px">{{item.uid}}</TD>
   <TD style="font-size: 40px">{{item.score1}}</TD>
</TR>
{% endfor %}
</table>

	</div><br/><br/>
	<div style="background-color: black;">
		<p style="text-align: center; color: white;">&copy; 2019 RPi. All rights reserved.</p>
	</div><br/>
</body>
</html>