
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
  	<link rel=stylesheet type=text/css href="{{url_for('static', filename='style.css')}}">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>
<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/"><span class="glyphicon glyphicon-home"></span> Raspberry Pi College</a>
			</div>
		</div>
	</nav>
	
	
	<div class ="container-fluid" style="min-height:100% width:80%">
		
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				{% for message in messages %}
					<div class=alert alert-warning alert-dismissible" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
					aria-hidden="true">&times;</span></button>
						<h1>{{message}}</h1>
						
					</div>
					{% endfor %}
				{% endif %}
			{% endwith %}
	
	</div>
	
	
<div class="jumbotron text-center">
    <div class="container">
        <h1>Student Login Page</h1>
  <p>Please enter details to login!</p>
    </div>
</div>

<div class="container">
        </div>
              <form action="" method="post">
                  <div class="form-group">
             </div>
                <input type="text" placeholder="Username" class="form__input" name="username" value="{{ request.form.username }}">
                <h2>Place Finger Over Scanner When Logging In</h2>
        <input class="btn btn-default" class="form__btn" type="submit" value="Login">
      </form>
              </div>
              </div>
        </div>
        <br><br>
</div>
</body>
</html>
